:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

.main {
  margin: 0;
  padding: 0;
}

.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
}

.navegation button {
  border-radius: 5px;
  padding: 15px;
  color: white;
  background-color: rgb(92, 92, 211);
}

.section-skills {
  font-family: "Big Shoulders Inline", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 9rem;
  color: white;
  width: 100%;
  max-width: 100px;
  opacity: 0;
  transform: translateX(-1000px);
}



